.gameContainer {
	border-style: solid;
	border-color: C7A899;
}

.tile {
	height: 50px;
	width: 50px;

	background-color: EEE4DA;

	border-style: solid;
	border-color: C7A899;

	float: left;
}

.tile.move {
	border-color: blue;
}

.tile.summed {
	transform: scale(2,2);
}

.tile .content {
	font-weight: 900;
	padding: 16px;
	font-family: sans-serif;
}
